@page
@model R_CV.Pages_Baaecdeaaabe.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contactos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contactos.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contactos.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contactos.Correo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contactos.Correo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contactos.Mensaje)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contactos.Mensaje)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Contactos.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
